*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Regole Header */
header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 2rem;
}

/* Regole Main */

.container{
  max-width: 70%;
  margin: 0 auto;
}

/* Regole Lista */

ul{
  list-style-type: none;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 20px;
}

li{
  cursor: pointer;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}